body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    color: #282828;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fafafa;
    align-items: center;
    flex-grow: 1;
    justify-content: stretch;
    height: 100vh;
    width: 100vw;
}
a:link, a:hover {
    text-decoration: none;
    color: #282828;
 }
a {
    color: #282828;
}
#name {
    text-align: center;
}
.profile-pic {
    max-width: 70vw;
    margin-top: 30px;
}
.links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.link {
    background-color: white;
    text-decoration: none;
    text-align: center;
    width: 85vw;
    margin: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 1.3rem;
}
.intro {
    text-align: center;
    color: gray;
    margin-top: 20px;
}


@media screen and (min-width: 768px) {
    .links {
        flex-direction: row;
    }
    .link {
        width: initial;
        background-color: inherit;
        font-size: 1rem;
    }
}
@media screen and (min-width: 1024px){
    header {
        align-items:baseline;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    #name {
        margin-left: 10px;
        margin-top: 0;
    }
    .links {

    }
    .break {
        flex-basis: 100%;
        height: 0;
      }
    .profile-pic {
        margin-top: -300px;
    }
}

