* {
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: "DM Sans", sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #F8F8F8;
}
header div {
    margin: 5px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-weight: 500;
}
p {
    width: 90%;
    text-align: center;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-size: 2.1rem;
    font-weight: 500;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.link {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    background-color: white;
    width: 90%;
    padding: 3px 0px;
}
.profile-pic {
    width: 70%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}
.intro {
    color: gray;
    text-align: center;
    font-size: 1.2rem;
}
.portfolio-images {
    width: 90%;
    max-width: 400px;
}
#portfolio {
    margin: 50px 0px;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        height: auto;
    }
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    article {
        width: 49%;
        margin-bottom: 50px;
        justify-content: flex-start;
    }
    h2 {
        margin-bottom: -5px;
    }
    .name {
        width: 100%;
        text-align: center;
        margin: 40px 0px;
    }
    .links {
        flex-direction: row;
        justify-content: center;
        margin-top: -10px;
        margin-bottom: 40px;
    }
    .link {
        background-color: transparent;
        width: auto;
        margin: 0px 30px;
    }
    .intro {
        width: 50%;
        margin-left: 25px;
        text-align: left;
        font-size: 1.4rem;
    }
    .profile-pic {
        width: 40%;
        order: 2;
        margin-top: 5px;
        margin-left: auto;
        margin-right: 25px;
    }
    #portfolio {
        width: 100%;
        text-align: center;
    }
}   
@media screen and (min-width: 1024px) {
    article {
        width: 32%;
    }
    .name {
        width: 50%;
        margin-left: 20px;
        text-align: left;
    }
    .links {
        width: auto;
        margin: 40px 0px;
        margin-left: auto;
        margin-right: 40px;
        height: 43px;
        align-items: flex-end;
    }
    .link {
        font-size: 1rem;
        margin: 0px 10px;
    }
    .intro {
        color: #505050;
    }
    .profile-pic {
        margin-right: 50px;
    }
}
  
